@import "tailwindcss";

:root {
  --background: #0F1E27;
  --foreground: #ffffff;
}

.bg-testimonial {
  background-color: #be9852; /* base gold color */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.08) 100%
  );
  background-size: 150px 100%; /* adjust this for stripe width */
  background-repeat: repeat-x;
}

